.cart_text{
    display: flex;
    align-items: center;

    img{
        padding: 0 10px;
    }

}

.quantity_box{
    input{
        width: 50px;
        font-size: 20px;
        text-align: center;
        padding: 5px 4px;
        border-radius: 10px;
        border: 1px solid #845EC2;
    }
}