.navigation_box{
    background-color: #7c4cf8 !important;
    .search_box_input {
        width: 30rem !important;

        input{
            padding: 12px 14px;
            color: #fff;
        }
    }
    
    .search_btn{
        padding: 10px !important;
        border-radius: 0 5px 5px 0 !important;
        background-color: transparent !important;
        border: 1px solid #5f3abf;
        color: #fff;
    }
}

.css-ja5taz-MuiTooltip-tooltip{
    padding: 15px !important;
    background-color: #ae70d5;
    margin: 0 !important;

    p{
        margin: 3px 0;
    }
}

.account_top{
    border-bottom: 1px solid #00000061;
    padding: 5px 0;
    margin-bottom: 10px;

    h6{
        margin-bottom: 5px;
    }

    .user_icon{
        text-align: center;

        svg{
            font-size: 65px;
        }
    }

    .account_btn{
        display: flex;
        align-items: center;
        justify-content: space-around;

        button{
            background-color: rebeccapurple;
            border-radius: 30px;
            padding: 3px 0;
            width: 92px;
            display: inline-block;
            color: #fff;
        }
    }
}