.card_container{
    position: relative;
    padding-bottom: 0;
    transform: scale(1);
    overflow: visible !important;
    background-color: #fff !important;
    border-top: 1px solid #845EC2;
    border-right: 1px solid #845EC2;
    border-left: 1px solid #845EC2;
    border-bottom: 5px solid #845EC2;
    z-index: inherit;
    
    &:hover{
        border-bottom: 4px solid #845EC2;
        box-shadow: 0 5px 15px 0 #7e4ff89c;
        transition: all .3s ease-in-out;
    }
    

    .badge{
        color: #7c4cf8;
        font-weight: bold;
        background-color: #f1f1f1;
        padding: 2px 15px 4px;
        position: absolute;
        top: 14px;
        left: -1px;
        border: 1px solid #7c4cf8;
        border-left: 0;
        border-radius: 0 30px 30px 0;
        z-index: 999;
    }

    .img_box{
        padding: 14px 20px;
        position: relative;

        img{
            transition: all .3s ease-in-out;
            z-index: 5;
        }

        .hover_img {
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(.9);
            opacity: 0;
        }
    }
    
    .card_title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a{
            text-decoration: none;
            color: #000;
            text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
        }
    }

    .stock{
        color: #845EC2;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
    }
    
    .card_action{
        position: absolute;
        top: 99%;
        left: -1px;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        transform: scaleY(0);
        transform-origin: top;
        border-right: 1px solid #845EC2;
        border-left: 1px solid #845EC2;
        border-bottom: 5px solid #845EC2;
        border-radius: 0 0 5px 5px;
        z-index: 999 !important;
        transition: all .3s ease-in-out;

        a{
            text-decoration: none !important;
        }
    
        .btn_regular{
            width: 100%;
            margin-bottom: 10px;
        }

        .action_box{
            padding: 10px 20px;
        }
    }

    &:hover .card_action{
        transform: scaleY(1);
    }

    &:hover img{
        opacity: 0;
    }

    &:hover .hover_img{
        opacity: 1;
    }
}

.modal_carousel{
    position: relative !important;

    .carousel_img{
        padding: 0 0 0 66px !important;
    }

    .carousel_main {   
        button{
            position: absolute !important;
            width: 80px !important;
            top: 50% !important;
            left: 32px !important;
            z-index: 99 !important;
            transform: translate(-50%, -50%) !important;
            background-color: #fff !important;

        }

        button:first-child{
            top: 24% !important;
        }
        button:last-child{
            top: 75% !important;
        }
    }

    .makeStyles-indicator-23:hover{
        background-color: transparent !important;
    }

    .makeStyles-next-32{
        display: none !important;
    }
}

.modal_content{

    a{
        text-decoration: none;
    }

    .rating_box{
        display: flex;
        align-items: center;
    
        span{
            color: #ef2626 !important;
        }
    
        .star_count{
            margin-left: 5px !important;
            margin-bottom: 2px !important;
        }
    }
    
    .price_box{
        margin-top: 10px !important;
        background-color: #ef2626 !important;
        border-right: 4px dotted #fff;
        border-left: 4px dotted #fff;
        padding: 10px 0;
    
        span{
            text-transform: uppercase;
            color: #fff;
        }
    
        .list_price{
            font-size: 30px;
            padding: 0 10px;
        }
    
        .price{
            position: relative;
    
            &::after{
                content: "";
                position: absolute;
                height: 2px;
                width: 107%;
                background: #0c0c0c73;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    
    .action_box{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .quantity_box{
            input{
                width: 50px;
                font-size: 20px;
                text-align: center;
                padding: 5px 4px;
                border-radius: 10px;
                border: 1px solid #845EC2;
            }
        }

        .btn_regular{
            background-color: rebeccapurple;
            color: #fff;
            padding: 5px 15px;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: #ef2626;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card_action{
        position: relative !important;
        border: 0 !important;
        transform: scale(1) !important;
        left: 0 !important;
    }
}