.banner_box{

    .swiper {
        width: 100%;
        height: 100%;
    
        .swiper-pagination-progressbar{
            background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            height: 8px;
    
            span{
                background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
                border-radius: 0 50px 50px 0;
            }
        }
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            padding: 40px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .offer_style{
                top: 0;
                left: 90%;
                
                p{
                    color: #ffffff !important;
                }
            }
        
            .swiper-slide img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
    
            .slide_img{
                max-height: 450px;
                max-width: 450px;
                padding: 50px;
                border-radius: 50%;
                background: #6c6b6b33;
                img{
                    max-width: 100% !important;
                }
            }
            
            .slide_content{
                position: absolute;
                text-align: left;
                left: 50px;
    
                .special_offer{
                    background-image: linear-gradient(to right, #D65DB1, #baa2f900) !important;
                    color: #ffffff !important;
                    padding: 8px 20px;
                    position: relative;
                    border-radius: 30px;
                    transition: all .3s ease-in-out;
                    z-index: 999;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 20px;
                }
    
                h3{
                    color: #ffffff;
                    text-transform: capitalize;
                }
    
                p{
                    color: #464545;
                }
    
                .slide_text_bottom{
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 40%;
    
                        span{
                            font-size: 20px;
                        }
                }
            }
        }
    }
}