.banner_box{

    .swiper {
        width: 100%;
        height: 100%;
    
        .swiper-pagination-progressbar{
            background-color: #ed174a !important;
    
            span{
                background-color: #7c4cf8 !important;
            }
        }
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #20b9ff;
            padding: 40px 0;
          
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        
            .swiper-slide img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
    
            .slide_img{
                max-height: 450px;
                max-width: 450px;
                padding: 50px;
                border-radius: 50%;
                background: #6c6b6b33;
                img{
                    max-width: 100% !important;
                }
            }
            
            .slide_content{
                position: absolute;
                text-align: left;
                left: 50px;
    
                .special_offer{
                    background-image: linear-gradient(to right, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
                    color: #ffffff !important;
                    padding: 8px 20px;
                    position: relative;
                    border-radius: 30px;
                    transition: all .3s ease-in-out;
                    z-index: 999;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 20px;
    
                    &::after{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 100%;
                        background-image: linear-gradient(to left, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
                        border-radius: 0;
                        transition: all .2s ease-in-out;
                        z-index: -1;
                    }
    
                    &:hover:after{
                        left: 0;
                    }
                }
    
                h3{
                    color: #ffffff;
                    text-transform: capitalize;
                }
    
                p{
                    color: #464545;
                }
    
                .slide_text_bottom{
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 40%;
    
                        span{
                            font-size: 20px;
                        }
                }
            }
        }
    }
}