// color variable
$primary_color: #ffffff;
$second_color: #845EC2;
$last_color: rgba(255,255,255,0.4);

.App {
    background-color: #f1f1f1;
    z-index: -2;
    .bg_primary{
        background-color: $primary_color;
        border-radius: 15px;
    }

    .section_title{
        position: relative;
        margin-bottom: 50px;

        h1{
            position: relative;
            display: inline-block;
            color: #20b9ff;

            &::after{
                content: "";
                position: absolute;
                height: 4px;
                width: 105%;
                bottom: 0;
                left: -4px;
                background-color: #845EC2;
                box-shadow: 0 -7px 15px 2px #845ec2;
            }
        }

        p{
            background-color: #f852524f;
            padding: 7px 22px 9px;
            display: inline-block;
            margin: -7px 0;
            color: #fff;
            text-transform: capitalize;
        }
    }

    .btn_regular{
        background-image: linear-gradient(to right, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
        color: #ffffff !important;
        padding: 8px 20px;
        position: relative;
        border-radius: 30px;
        transition: all .3s ease-in-out;
        box-shadow: 0px 5px 12px rgba(127, 80, 248, .5) !important;
        z-index: 999;
        overflow: hidden;
        display: block;

        &::after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 100%;
            background-image: linear-gradient(to left, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
            border-radius: 0;
            transition: all .2s ease-in-out;
            z-index: -1;
        }

        &:hover:after{
            left: 0;
        }

        &:hover{
            box-shadow: 0px 8px 15px #7f50f8c7 !important;
        }
    }

    .price{
        color: #ed174a !important;
        font-weight: bold;
        display: block;
        text-shadow: 2px 2px 9px #ef2626a1;
    }

    .rating_box{
        display: flex;
        align-items: center;
    
        span{
            color: #ef2626 !important;
        }
    
        .star_count{
            margin-left: 5px !important;
            margin-bottom: 2px !important;
        }
    }

    .box_title{
            background-color: #f1f1f1;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -40px;
            margin-bottom: 30px;
            margin-top: 20px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                height: 4px;
                width: 100%;
                top: 50%;
                right: -150%;
                transform: translate(-50%, -50%);
                background-color: #f1f1f1;
           }

           &::after{
                content: "";
                position: absolute;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                top: 50%;
                left: 200%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                border: 5px solid #f1f1f1;
                animation: leftRight 7s infinite;
           }

           @keyframes leftRight {
               from{
                    left: 200%;
               }
               50%{
                    left: 0%; 
               }
               to{
                    left: 200%;
               }
           }

           h1{
               text-align: right;
               margin: 0;
               padding-bottom: 7px;
           }
        }

}