// color variable
$primary_color: #ffffff;
$second_color: #845EC2;
$last_color: rgba(255,255,255,0.4);

.App {
    background-color: #f1f1f1;
    .bg_primary{
        background-color: $primary_color;
        border-radius: 15px;
    }

    .section_title{
        position: relative;
        margin-bottom: 50px;

        h1{
            position: relative;
            display: inline-block;
            color: #20b9ff;

            &::after{
                content: "";
                position: absolute;
                height: 4px;
                width: 105%;
                bottom: 0;
                left: -4px;
                background-color: #845EC2;
                box-shadow: 0 -7px 15px 2px #845ec2;
            }
        }

        p{
            background-color: #f852524f;
            padding: 7px 22px 9px;
            display: inline-block;
            margin: -7px 0;
            color: #fff;
            text-transform: capitalize;
        }
    }

    .btn_regular{
        background-image: linear-gradient(to right, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
        color: #ffffff !important;
        padding: 8px 20px;
        position: relative;
        border-radius: 30px;
        transition: all .3s ease-in-out;
        z-index: 999;
        overflow: hidden;
        display: block;

        &::after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 100%;
            background-image: linear-gradient(to left, #7c4cf8, #8d63f9, #9c78fa, #ab8dfa, #baa2f9) !important;
            border-radius: 0;
            transition: all .2s ease-in-out;
            z-index: -1;
        }

        &:hover:after{
            left: 0;
        }
    }

    .price{
        color: #ed174a !important;
        font-weight: bold;
        display: block;
    }

    .rating_box{
        display: flex;
        align-items: center;
    
        span{
            color: #ef2626 !important;
        }
    
        .star_count{
            margin-left: 5px !important;
            margin-bottom: 2px !important;
        }
    }
}